<%- include('./partials/header'); %>

<main>
  <div class="ui container">
    <h1 class="ui header">Bienvenue à la bibliothèque</h1>
    <p class="ui segment">Découvrez notre vaste collection de livres.</p>
    <div class="ui stackable four column grid">
      <div class="column">
        <div class="ui segment">
          <img src="" alt="Livre 1" class="ui image">
          <h2 class="ui header">Titre du livre 1</h2>
          <p>Description du livre 1</p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <img src="" alt="Livre 2" class="ui image">
          <h2 class="ui header">Titre du livre 2</h2>
          <p>Description du livre 2</p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <img src="" alt="Livre 3" class="ui image">
          <h2 class="ui header">Titre du livre 3</h2>
          <p>Description du livre 3</p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <img src="" alt="Livre 4" class="ui image">
          <h2 class="ui header">Titre du livre 4</h2>
          <p>Description du livre 4</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>
